#search-form .form-group label.error {
	color: #FB3A3A;
	display: inline-block;
	font-weight: normal;
}

#results {
	display: none;
}
#failure {
	display: none;
}
.form-control.error {
	border: 1px solid #FB3A3A;
}
.form-control.error:focus {
	border: 1px solid #FB3A3A;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,58,58,.6);
}

@media only screen and (max-width: 360px) {
	#logo {
		max-width: 30%;
	}
	#heading {
		font-size: 15pt;
	}
	body {
		padding: 10px;
	}
	#top {
		padding-left: 0px;
	}
	#accept {
		margin-left: 0px;
	}
	.image-thump {
		max-width: 50%; 
	}
}

@media only screen and (min-width: 361px) and (max-width: 980px) {
	#logo {
		max-width: 30%;
	}
	body {
		padding: 15%;
	}
	#heading {
		font-size: 25pt;
	}
	#top {
		padding-left: 0px;
	}
}

@media only screen and (min-width: 981px) {
	.control-label{
		float: right;
	}
	#logo {
		max-width: 20%;
	}
	#heading {
		font-size: 20pt;
	}
	#header {
		margin-top: 5%;
	}
	.image-thump {
		width: 60px;
		height: 60px;
	}
	#pagestat{
		font-size: 15pt;
	}
	.media-heading {
		font-size: 12pt;
	}
	.mediaelement {
		margin-top: 10px;
	}
}
	
